.answerselection {
	border: 5px solid red;
	width: 50%;
	color: white;
	background-color: red;
	border: 1px solid black;
    border-radius: 5%;
	width: 40%;
	color: black;
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
 }
 #answerblock {
  text-align: center;
  
 }
 #questionblock {
  text-align: center;
}
 /*#reset {
  visibility: hidden;
 } */
 body {
  background-image: url("../images/music.jpg");
  background-size: cover;
 /* font-family: 'Karla', sans-serif;*/
  font-family: Arial, Helvetica, sans-serif;
}
 h1 {
   text-align: center;
   color: white;
   font-weight: bolder;
   padding: 20px;
 }
 
 .wrapper {
   margin: 10px auto;
   background-color: white;
   opacity: 0.8;
   border: 2px solid #403fd3;
   height: 400px;
   width: 60%;
   text-align: center;
 }
 
 .btn {
   position: relative;
   bottom: -150px;
 }
 img {
    width:40%;
    height: auto;   
 }